
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3rem; 
}


.call {
    width: 32vw;
    
    
    margin: 5rem 5rem 10rem 13rem;
}

.child {
    
    margin-right: 2rem;
    
}

.text1 {
    font-size: 2vw;
}

.web {
    color: #D6000D;
    font-size: 5vw;
    font-weight: bold;
}