

.footer {
    display: flex;
    
    background-color: black;
    color: white;
    
    
}

.footer h3 {
    font-weight: 500;
}

.footer1 {
    flex-direction: column;
    padding: 3rem;
    
}

.footer1 h4 {
    font-weight: 300;
    font-size: 1.2em;
    margin: 0.5rem 0 1rem 0;
}

.footer2 {
    flex-direction: column;
    padding: 3rem;
    
}

.footer2 h4 {
    font-weight: 300;
    font-size: 1.2em;
    margin: 1rem 0 1rem 0;
}

.footer3 {
    flex-direction: column;
    padding: 3rem;
}

.footer3 h4 {
    font-weight: 300;
    font-size: 1.2em;
    margin: 1em 0 1rem 0;
}

