*{ 
    margin: 0; 
    
    padding: 0; 
    
    box-sizing: border-box; 
    } 

    html {
        font-size: 93.75%;
    }

    body {
        font-family: 'Roboto', sans-serif;
    }

    header {
        display: flex;
        align-items: center;
        padding: 20px;
    }

    header .title {
        font-weight: bolder;
        font-size: 3rem;
        margin-left: 5rem;
        

        color: #D6000D;
    }

    header span {
        color: black;
    }

    header .menu {
         margin-left: auto;
         font-size: 1.5rem;
         font-weight: initial;
    }


    .menu  a{
        text-decoration: none;
        padding-left: 2rem;
        padding-right: 2rem;
        color: black;
    }

    button {
        font-weight: bolder;
        background-color: #D6000D;
        border: none;
        color: white;
        padding: 15px 4rem;
        text-align: center;
        text-decoration: none;
        font-size: 1.7rem;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 15px;
    }

    button:hover {
        background-color: #a8000a;
        

    }

  