
.serviços {
    display: flex;
    align-items: center;
}

.lista ul {
    list-style-type: none;
    
    margin: 5rem 5rem 0 5rem ;
}

.lista li {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 400;
    
}

.lista img {
    margin-right: 2rem;
    width: 2rem;
}

.imagem{
    width: 42vw;
    margin: 5rem;
    
}

